body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  .top-container {
    background-color: #eaf6f6;
    padding: 2vw 0 0;
    position: relative;
  }
  .mid-container {
    margin: 50px 0;
  }
  .bottom {
    padding: 2vw 0;
    background-color: #66bfbf;
    height: 6vw;
    line-height: 3;
  }
  h1 {
    font-family: "Sacramento", cursive;
    font-size: 8vw;
    margin: 50px auto 0 auto;
    color: #66bfbf;
    line-height: 2;
  }
  h2 {
    color: #66bfbf;
    font-size: 2.5vw;
  }
  h3 {
    color: #11999e;
  }
  p {
    color: #40514e;
    font-weight: bold;
    margin: 0 auto;
    line-height: 2;
  }
  a {
    color: #11999e;
    text-decoration: none;
    margin: 0 3vw;
    font-family: "Merriweather", serif;
  }
  a:hover {
    color: #eaf6f6;
  }
  #pro {
    text-decoration: underline;
  }
  #cloud1 {
    position: absolute;
    right: 20%;
    top: 10%;
  }
  #cloud2 {
    position: absolute;
    bottom: 45%;
    left: 20%;
  }
  #Mountain {
    width: 50%;
    height: auto;
  }
  #h2 {
    color: #66bfbf;
  }
  #me {
    width: 10%;
    border-radius: 30%;
  }
  #intro {
    width: 38.5vw;
    text-align: center;
    margin: 0 auto; /*para centrar*/
  }
  hr {
    background-color: none;
    border-style: dotted none none;
    height: 0;
    width: 4.5vw;
    border-color: rgb(216, 216, 216);
    border-width: 0.5vw;
    margin: 3vw auto;
  }
  .skill {
    width: 50%;
    margin: 5vw auto; /*Esto es lo que centra ambos divs.*/
    text-align: left;
  }
  #html {
    width: 15%;
    float: left;
    margin-right: 2vw;
  }
  #hotchilly {
    width: 15%;
    float: right;
    margin-left: 2vw;
  }
  .button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 3vw;
    line-height: 10px;
    color: #ffffff;
    font-family: "Merriweather", serif;
    width: 12vw;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #11999e;
    border: solid #11999e 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 3vw auto;
  }
  #copyright {
    color: #eaf6f6;
    font-size: small;
    font-weight: 400;
  }
